.list {
  display: block;
}
.item {
  margin-bottom: 10px;
  position: relative;
}

.handle {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 5;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  border: none;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background: linear-gradient(
    0deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(238, 174, 202, 0.6) 100%
  );

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  touch-action: none;
  transition: transform 0.15s ease;
}

.handle:active {
  cursor: grabbing;
  transform: scale(0.95);
}
.item {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .list {
    display: none;
  }
}
